@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.main {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px #eee solid;
  background-color: #2f339d;
  position: relative;
}

.mainTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: #eee;
  background-color: #181818;
  font-family: 'Gowun Dodum';
}

.mainTitle p {
  font-size: 1.4rem;
}

.mainTitle a {
  font-size: 1.1rem;
  border: 1px #fff solid;
  padding: 5px 10px 9px;
  border-radius: 5px;
}

.mainTitle a:hover {
  background-color: #eee;
}

.info {
  position: absolute;
  bottom: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.infoIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.infoDetail {
  position: absolute;
  background-color: wheat;
  width: 70%;
  min-height: 300px;
  border-radius: 10px;
  padding: 35px 20px;
}

.infoDetail p {
  color: #181818;
  font-size: 0.9rem;
  font-weight: 600;
}

.infoDetail .instaLink {
  display: block;
  width: 38px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 19px);
  border: none;
}

.infoDetail .infoWord {
  font-style: italic;
  color: #178f94;
}

.infoSource {
  font-size: 0.8rem;
}

.closeDetail {
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: transparent;
  border: none;
  width: 1.2rem;
  height: 1.5rem;
  padding: 0 2px;
}

.closeDetail:hover {
  background: rgba(255, 255, 255, 0.5);
}

.closeIcon {
  width: 100%;
  height: 100%;
  color: #181818;
}

.icons {
  width: 150px;
  position: absolute;
  bottom: 2.5rem;
  left: calc(50% - 75px);
  background: #fff;
  /* backdrop-filter: contrast(0.3); */
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.icons.fadeOut {
  opacity: 0.5;
}

.icons:hover,
.icons:focus {
  transition: opacity 0.8s ease-in-out;
  opacity: 0.9;
}

.icons button {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.icons button:hover {
  background-color: #eee;
}

.icon {
  color: #181818;
  width: 30px;
  height: 30px;
}

@media (max-width: 400px) {
  .section {
    width: 340px;
  }
}
