.main {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px #eee solid;
  background-color: #2f339d;
  position: relative;
}

.mainTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: #eee;
  background-color: #181818;
  font-family: 'Gowun Dodum';
}

.mainTitle p {
  font-size: 1.4rem;
}

.mainTitle .linkWord {
  font-size: 1.1rem;
  border: 1px #fff solid;
  padding: 5px 10px 9px;
  border-radius: 5px;
}

.mainTitle a:hover {
  background-color: #eee;
}

.info {
  position: absolute;
  bottom: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.infoIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: #eee;
}

.infoDetail {
  position: absolute;
  background-color: wheat;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  word-break: keep-all;
}

.infoDetail p {
  color: #181818;
  font-size: 0.9rem;
  font-weight: 600;
}

.infoDetail .instaLink {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 5px;
  border: none;
}

.infoDetail .infoWord {
  font-style: italic;
  color: #178f94;
}

.infoSource {
  display: flex;
  font-size: 0.8rem;
}

.closeDetail {
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: transparent;
  border: none;
  width: 1.2rem;
  height: 1.5rem;
  padding: 0 2px;
}

.closeDetail:hover {
  background: rgba(255, 255, 255, 0.5);
}

.closeIcon {
  width: 100%;
  height: 100%;
  color: #181818;
}

@media (max-width: 400px) {
  .section {
    width: 340px;
  }
}

.tabContainer {
  display: flex;
}

.tabContainer button {
  width: 50%;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 5px 0;
}

.tabContainer button:first-child {
  border-right: 2px solid #181818;
}

.tabContainer .activeTab {
  background-color: rgba(255, 255, 255, 0.3);
}

.browser {
  padding-right: 2px;
}
